@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.white{
	background-color: white;
	color: black;
	transition-duration: 2s;
}
.dark-mode{
	background-color: #303841 !important;
	color: white !important;
	transition-duration: 1s;
}
.dark-mode-text{
	background-color: #3A4750 !important;
	color: white !important;
}
@media only screen and (max-width: 768px){
	#submit{
		margin-bottom: 20px;
	}
}